<!-- <form #userForm="ngForm" (ngSubmit)="formSubmit(userForm.value)">
    <input type="text" name="username" id="username" ngModel><br>
    <input type="text" name="userpassword" id="userpassword" ngModel>
    <input type="submit">
</form>
<br>
<nav class="nav">
    <a class="nav-link" routerLink="" routerLinkActive="Active">Indox</a>
    <a class="nav-link" routerLink="">Indox</a>
    <a class="nav-link" routerLink="">Indox</a>
</nav> -->

<a routerLink="reg">Regitration</a><br>
<a routerLink="log">Login</a>
<router-outlet></router-outlet>