<h1>Registration Form</h1>
<form #regInfo=ngForm (ngSubmit)="regSubmit(regInfo.value)">
  <input type="text" name="name" placeholder="name" ngModel><br>
  <input type="text" name="username" placeholder="username" ngModel><br>
  <input type="text" name="password" placeholder="password" ngModel><br>
  <input type="submit" value="Submit">

</form>

<!-- <h1>Registration Form</h1>
<form #regInfo=ngForm (ngSubmit)="regUser(regInfo.value)">
  <input type="text" name="name" placeholder="name" ngModel><br>
  <input type="text" name="username" placeholder="username" ngModel><br>
  <input type="password" name="password" placeholder="password" ngModel><br>
  <input type="submit" value="Submit"><br>
</form> -->