<div class="header">
      
  <img
    class="header-logo"
    src="http://pngimg.com/uploads/amazon/amazon_PNG11.png"
  />



<div class="header-search">
  <input class="header-searchInput" type="text" />
 
</div>

<div class="header-nav">
  
    <div class="header-option">
      <span class="header-optionLineOne">Hello Guest</span>
      <span class="header-optionLineTwo">Sign In</span>
    </div>
  

  
    <div class="header-option">
      <span class="header-optionLineOne">Returns</span>
      <span class="header-optionLineTwo">& Orders</span>
    </div>
  
  

  <div class="header-option">
    <span class="header-optionLineOne">Your</span>
    <span class="header-optionLineTwo">Prime</span>
  </div>

  
    <div class="header-optionBasket">
    
      <span class="header-optionLineTwo header-basketCount">
        0
      </span>
    </div>
  
</div>
</div>